/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: #00acff;
  color: #fff;
}

.text-link {
  color: #fff !important;
  text-decoration: underline;
}

#rightBox {
  /* this margin prevents text from overlapping the planet image */
  margin-left: 280px;
  margin-right: 20px;
}

#bottomBox {
  background-color: rgba(0,0,0,.7);
}
